h3 {
    font-size: 20px;
    padding: 20px;
    margin: 0px;
}

#history {
    overflow: auto
}

#inputArea {
    min-height: 55px
}

#historyAndInput {
    padding: 20px;
}

#messageInput {
    width: 100%;

}

.mainBackground {
    background-color: white;
}

#inputbox {
    margin-top: 1em;
    padding: 0.5em;
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.25em;
    cursor: text;
}
#infoButtonArea{
    margin-top: 1em;
}

.highlight {
    font-weight: bold;
}