<style>
    table tr td {
        padding: 4px 8px;
    }
    table tr td.title {
        font-weight: 600;
        vertical-align: top;
        text-align: right;
    }
</style>
<div style="max-width: 600px; margin: 64px auto 64px;">
  <h2 style="text-align: center; margin: 0 0 16px 0;"><%= username %>, welcome to RhinoBird</h2>
  <div style="font-size: 1.2em; text-align: center;">
    Your RhinoBird account is created.
  </div>
  <br/>
  <table style="margin-left: auto; margin-right: auto; text-align: left;">
      <tbody>
      <tr>
        <td class="title">username</td>
        <td><%= email %></td>
      </tr>
      <tr>
        <td class="title">password</td>
        <td><%= password %></td>
      </tr>
      <div>
      </div>
      </tbody>
  </table>
  <div style="margin: 32px auto 32px;text-align: center;"><a href="http://rhinobird.workslan/platform/profile" style="background-color: #00bcd4;color: rgb(255,255,255);padding: 8.0px 16.0px;cursor: pointer;text-decoration: none;font-size: 17.0px;" target="_blank">Login Now</a></div>
  <hr>
  <p style="text-align: center;">Designed by ATE-Shanghai, © Works Applications Co.,Ltd.</p>
</div>
