<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RhinoBird</title>
  <link rel="icon" href="https://avatars3.githubusercontent.com/u/11989832" sizes="238x238" type="image/jpg">
  <link href="<%= css_url %>" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="content"></div>
<script src="<%= script_url %>"></script>
</body>
</html>